header {
  max-width: 1770px;
  height: auto;
}

.header__banner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: 78vh;
  position: relative;
  background-image: url("images/Image-scale.png");
}

.header__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 33vw;
}

form {
  padding-bottom: 40px;
  padding-top: 25px;
}

.header__form {
  width: 500px;
  height: 50px;
  background: #FFFFFF;
  text-align: center;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
  border: 3px solid #FFFFFF;
  border-top: 4.5px solid #FFFFFF;
}

.header__form:hover {
  background-color: #fcf0c9;
}

.header__btn-search {
  height: 60px;
  width: 150px;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  margin-left: -6px;
  font-family: "Aleo";
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__btn-search:hover {
  color: chartreuse;
  opacity: 0.7;
}

.header__btn-scroll {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.header__icon-chevron {
  margin-left: 30px;
}

.header__logo {
  width: 100%;
  height: auto;
  background: #5474FD;
}

.header__logo-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: Aleo;
  align-items: center;
  text-transform: uppercase;
  margin-left: 9vw;
}

.header__nav {
  margin-left: 20px;
  margin-right: 10px;
  color: #2bfc0f;
}

.section__main-info {
  position: relative;
}

.section__info {
  width: 1130px;
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 13vh;
  left: 13%;
}

.section__banner {
  position: sticky;
}

.section__info-text {
  width: 33vw;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.section__info-title {
  width: auto;
  font-family: Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
}

.section__info-imgs {
  width: 15vw;
}

.img_home {
  margin-left: -85px;
}

.section__block-map {
  width: 100%;
  position: relative;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 90px;
  margin-top: -4px;
}

.line {
  width: 777px;
}

.section__items_block-map {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #E8E8E8;
}

.block__proposal-list {
  width: 30vw;
  height: auto;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
  padding: 40px;
}

.section__rewiew {
  min-width: 320px;
  max-width: 1770px;
}

.block-rewiew {
  display: flex;
  flex-wrap: wrap;
}

.txt-rewiew {
  width: 508px;
  height: auto;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  color: #E8E8E8;
  background-color: #333333;
  padding: 30px;
}

.icon-quote {
  position: relative;
  float: left;
  top: -10px;
  height: 15px;
}

.section__rewiew_banner {
  width: 100%;
  height: auto;
}

footer {
  width: 1775px;
  height: 270px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__txt {
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  margin-left: -10px;
}

.footer__icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  color: white;
  padding-top: 15px;
}

.footer__icons-social {
  color: #E8E8E8;
}

.footer__icons-in {
  color: #5474FD;
}

h2 {
  font-size: 25px;
}

section {
  background-color: none;
}

body {
  max-width: 1770px;
  margin: auto;
  background-color: beige;
  border: 15px solid #FFFFFF;
}

a {
  text-decoration-line: none;
  color: #FFFFFF;
}

a:hover {
  color: #2bfc0f;
  opacity: 0.7;
}

.btn {
  width: 13vw;
  height: 63px;
  background: #5474FD;
  font-family: "Aleo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 70px;
}

h1 {
  width: 190px;
  font-size: 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

h3 {
  font-family: Josefin Sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFFFF;
}

h5 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FEFEFE;
  margin-top: 20px;
  margin-bottom: -3px;
}

.banner {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
