.btn {
  width: 13vw;
  height: 63px;
  background: rgba(84, 116, 253, 0.9);
  font-family: $font_some-titles;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $main_color;
  margin-top: 50px;
  &:hover {
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  @media screen and (max-width: $l) {
      width: 20vw;
      height: 53px;
      font-size: 14px;
      line-height: 26px;
      margin-top: 40px;
      text-align: center;
  }
  @media screen and (max-width: $st) {
      width: 23vw;
      height: 40px;
      font-size: 12px;
      line-height: 22px;
      margin-top: 25px;
  }
  &__search {
    height: 60px;
    width: 150px;
    background: $links-btn_color;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: -6px;
    font-family: $font_some-titles;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: $main_color;
    &:hover {
      background-position: right center;
      text-decoration: none;
      display: inline-block;
      color: white;
      padding: 7px 7px;
      background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
      background-size: 150% auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      transition: .5s;
    }

    @media screen and (max-width: $l) {
      height: 45px;
      width: 110px;
      margin-left: -6px;
      font-size: 14px;
      line-height: 26px;
    }
    @media screen and (max-width: $mm) {
      height: 40px;
      width: 95px;
      margin-left: 34%;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__scroll {
    color: $main_color;
    font-size: 34px;
    letter-spacing: 2.8px;
    @media screen and (max-width: $ml) {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1.8px;
    }
  }
}
