a {
  text-decoration-line: none;
  color: $main_color;
  &:hover {
    color: $text_color;
    font-weight: bold;
    opacity: 0.9;
  }
}

.header_nav {
  margin-left: 20px;
  margin-right: 10px;
  color: $main_color;
  &:hover {
    background-position: right center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 7px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 150% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  @media screen and (max-width: $ml) {
    display: none;
    border: 2px solid #9EEFE1;
    border-radius: 10px;
    text-align: center;
    background-color: #3e2db7;
    margin: 7px;
    padding: 15px;
  }
  .menu__open & {
    display: block;
  }
  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    font-family: $font_some-titles;
    text-transform: uppercase;
    margin-left: 9vw;
    opacity: 0.9;
    flex-wrap: wrap;
    @media screen and (max-width: $st) {
      font-size: 14px;
      line-height: 18px;
      margin-left: 1vw;
    }
  }
}
.menu {
  &__hamburger {
    font-size: 40px;
    border: 1px solid #9EEFE1;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
    display: none;
    &:hover {
      background-position: right center;
      text-decoration: none;
      display: inline-block;
      color: white;
      padding: 7px 7px;
      background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
      background-size: 150% auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      transition: .5s;
    }
    @media screen and (max-width: $ml) {
      display: block;
    }
  }
}
