//fonts
$font_some-titles: 'Aleo';
$font_main-text: 'Josefin Sans';

//colors
$main_color: #FFFFFF;
$text_color: #E8E8E8;
$links-btn_color: #5474FD;

//breakpoints
$xl: 1600px;
$l: 1024px;
$st: 768px;
$ml: 580px;
$mm: 480px;
$ms: 375px;
